{% if inventory_hostname != groups['rancher_rke2_server_nodes'][0] %}
server:  https://{{ hostvars[groups['rancher_rke2_server_nodes'][0]].private_ip }}:9345
{% endif %}
token: {{ RANCHER_RKE2_TOKEN }}
tls-san:
  - {{ hostvars[groups['load_balancer_nodes'][0]].ansible_host }}
  - {{ gen3.hostname }}
{# disable: rke2-coredns #}
{% if inventory_hostname in groups['rancher_rke2_server_nodes'] %}
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
{% endif %}
{% if inventory_hostname in groups['rancher_rke2_worker_nodes'] %}
{% endif %}