// variables.pkr.hcl

variable "admin_user" {
  type = string
}

variable "base_image_name" {
  type = string
}

variable "base_image_source" {
  type = string
}

variable "base_image_source_format" {
  type = string
}

variable "build_image_flavour" {
  type = string
}

variable "database_image_name" {
  type = string
}

variable "floating_ip_network_id" {
  type = string
}

variable "network_ids" {
  type = list(string)
}

variable "security_groups" {
  type = list(string)
}
