services:
  postgres:
    command: "echo 'postgres service disabled'"
    restart: no
  indexd-service:
    depends_on: []
  fence-service:
    depends_on:
      - arborist-service
  arborist-service:
    environment:
      - PGDATABASE={{ postgres_arborist_password }}
      - PGUSER={{ postgres_arborist_user }}
      - PGHOST={{ database_ip }}
    depends_on: []
  metadata-service:
    environment:
      - DB_HOST={{ database_ip }}
      - DB_USER={{ postgres_metadata_user }}
      - DB_PASSWORD={{ postgres_metadata_password }}
    depends_on: []
  peregrine-service:
    depends_on:
      - sheepdog-service


