apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gen3
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.gen3.org
    chart: gen3
    targetRevision: "0.3.36"
    helm:
      valuesObject:
        global:
          dev: false
          hostname: "{{ gen3.hostname }}"
          postgres:
            dbCreate: true
            externalSecret: "gen3-db-creds"
            master:
              username: "{{ postgres.user }}"
              password: "{{ postgres.password }}"
              host: "{{ postgres.host_ip }}"
              port: "5432"
          dictionaryUrl: "https://s3.amazonaws.com/dictionary-artifacts/datadictionary/develop/schema.json"
        fence:
          image:
            pullPolicy: IfNotPresent
          enabled: true
          FENCE_CONFIG:
            BASE_URL: "http://{{ gen3.hostname }}/user"
            OPENID_CONNECT:
              google:
                client_id: "{{ google_client_id }}"
                client_secret: "{{ google_client_secret }}"
            AWS_CREDENTIALS:
              "gen3":
                aws_access_key_id: "{{ garage.access_key }}"
                aws_secret_access_key: "{{ garage.secret_key }}"
            S3_BUCKETS:
              "{{ gen3.data_bucket_name }}":
                cred: "gen3"
                endpoint_url: "https://{{ s3.host_base }}"
              "{{ gen3.user_bucket_name | default(gen3.hostname ~ '-user-bucket') }}":
                cred: "gen3"
                endpoint_url: "https://{{ s3.host_base }}"
            DATA_UPLOAD_BUCKET: "{{ gen3.data_bucket_name }}"
          usersync:
            usersync: true
            userYamlS3Path: "s3://{{ gen3.user_bucket_name | default(gen3.hostname ~ '-user-bucket') }}/user.yaml"
        arborist:
          image:
            pullPolicy: IfNotPresent
          enabled: true
          dbRestore: false
        audit:
          enabled: true
        guppy:
          enabled: true
          esEndpoint: "{{ postgres.host_ip }}:9200"
          indices:
            - index: gen3_subject
              type: subject
            - index: gen3_file
              type: file
          configIndex: gen3_array_config
          authFilterField: auth_resource_path
        hatchery:
          enabled: false
        indexd:
          image:
            pullPolicy: IfNotPresent
          enabled: true
          dbRestore: false
        manifestservice:
          enabled: false
        metadata:
          enabled: true
        peregrine:
          image:
            pullPolicy: IfNotPresent
          enabled: true
        pidgin:
          enabled: false
        portal:
          image:
            pullPolicy: IfNotPresent
            repository: quay.io/cdis/data-portal
            tag: master
          enabled: true
        sheepdog:
          enabled: true
        sower:
          enabled: false
        wts:
          enabled: false
        secrets:
          awsAccessKeyId: "{{ garage.access_key }}"
          awsSecretAccessKey: "{{ garage.secret_key }}"
        revproxy:
          ingress:
            enabled: true
            className: "nginx"
            hosts:
              - host: "{{ gen3.hostname }}"
                paths:
                  - path: /
                    pathType: Prefix
  destination:
    server: https://kubernetes.default.svc
    namespace: gen3
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
